<!DOCTYPE HTML>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/referenzen.css"/>
        <title>Holzwerkstatt</title>
        
        <!-- fonts -->
        <!-- scripts -->
    </head>
    

    <body>
        <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.10&appId=229122164280600";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
        <div id="main_content_container">
            <table id="content_table">
                <tr>
                    <td>
                        <div id="main_list_container">
                            <ul id="main_list">
                                <li class="main_list_point"><a class="list_link" href="index.php?action=home_de">Home</a></li>
                                <li class="main_list_point"><a class="list_link" href="index.php?action=dieTischlerei_de">Die Tischlerei</a></li>
                                <li class="main_list_point"><a class="list_link" href="index.php?action=planung3D_de">3D Planung</a></li>
                                <li class="main_list_point"><a class="list_link" href="index.php?action=referenzen_de">Referenzen</a></li>
                                <li class="main_list_point"><a class="list_link" href="index.php?action=kontakt_de">Kontakt</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div id="languages_logo_container">
                            <table>
                                <tr>
                                    <td>
                                        <div id="language_switch_container">
                                            <p id="language_text"><a class="language_link" href="#">de</a> | <a class="language_link" href="#">it</a> | <a class="language_link" href="#">en</a></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="logo_container">
                                            <img id="main_logo" src="../../images/FirmenLogo.jpg" />
                                        </div>
                                    </td>
                                </tr>
                            </table>    
                        </div>
                    </td>    
                </tr>

                <tr>
                    <td>
                        <div id="img_menu">
                            <div id="img_container">
                                <div class="img_box">

                                </div>
                                <div class="img_box">

                                </div>
                                <div class="img_box">

                                </div>
                                <div class="img_box">

                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="text_container">
                            
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id="contact_container">
                            <div id="contact_text">
                                <p  class="contact_text">Holzwerkstatt</p>
                                <p class="contact_text">des Grossgasteiger Gerhard</p>
                                <p class="contact_text">Am Moosfeld 47/F</p>
                                <p class="contact_text">39040 Wiesen (Sterzing)</p>
                                <p class="contact_text">Tel. 0472 765 373</p>
                                <p class="contact_text"><a id="mailto_contact_link" href="mailto:info@holzwerkstatt.it">info@holzwerkstatt.it</a></p>
                                <!-- also social media -->
                            </div>
                        </div>
                    </td>

                    <td>
                        <div id="slideshow_subtitle">
                            <table>
                                <tr>
                                    <td>
                                        <div 
                                            class="fb_page" data-href="https://www.facebook.com/holzwerkstattsterzing/" 
                                            data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" 
                                            data-show-facepile="false">
                                            <blockquote cite="https://www.facebook.com/holzwerkstattsterzing/" class="fb-xfbml-parse-ignore">
                                            <a href="https://www.facebook.com/holzwerkstattsterzing/">Holzwerkstatt</a></blockquote>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>        
            </table>
        </div>
        
        
        
    </body>